.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F2F1F1;
}

h1, h2, p{
  font-family: 'Russo One', sans-serif;
  color: #0E0E0E;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Russo One', sans-serif;

}
